.mainbox {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.postinfobox {
  width: 1000px;
  padding: 20px;
}
.postinfobox .tit h1 {
  font-size: 23px;
  margin-bottom: 30px;
  font-family: "Signika", sans-serif;
}
.postinfobox .user {
  display: flex;
  padding: 0px 10px;
  font-family: "Signika", sans-serif;
  justify-content: space-between;
}
.content {
  line-height: 30px;
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
}
.content img {
  width: 50% !important;
  height: auto !important;
}
.sharezone {
  float: left;
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 20px;
}
.sharezone ul {
  height: 100vh;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6px 15px;
  gap: 10px;
  margin-top: 5px;
}
.sharezone ul li {
  opacity: 0.4;
  transition: 0.3s;
}
.sharezone ul li:hover {
  opacity: 1;
}

@media only screen and (max-width: 1050px) {
  .postinfobox {
    width: 800px;
  }
}
@media only screen and (max-width: 850px) {
  .postinfobox {
    width: 500px;
  }
}
@media only screen and (max-width: 550px) {
  .content img {
    width: 100% !important;
    height: auto !important;
    margin: 8px 0px !important;
  }
  .postinfobox {
    width: 100%;
    border-bottom: none;
  }
  .mainbox {
    margin-top: 90px;
  }

  .sharezone {
    float: none;
    position: relative;
  }
  .sharezone ul {
    height: 50px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 6px 15px;
    gap: 15px;
    user-select: none;
  }
  .sharezone ul li img {
    width: 40px;
    height: 40px;
  }
}
