.btn {
  padding: 15px 25px;
  margin-top: 20px;
  cursor: pointer;
  border: 0;
  background-color: #696969;
  color: #fff;
  border-radius: 8px;
}
.title {
  padding: 20px 0px;
  font-family: "Signika", sans-serif;
  text-transform: capitalize;
}
