.sidebar {
  width: 200px;
  height: calc(100vh - 80px);
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  font-family: "Signika", sans-serif;
  border-right: 1px solid rgb(202, 202, 202);
}
.sidebar .links {
  padding: 20px;
  list-style: none;
}
.sidebar .links li a {
  margin: 30px 0px;
  padding: 10px;
  display: block;
  transition: 0.6s;
}
.sidebar .links li .active,
.sidebar .links li a:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  padding-left: 20px;
}

@media only screen and (max-width: 850px) {
  .sidebar {
    width: 100vw;
    height: 50px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    font-family: "Signika", sans-serif;
    border-right: 0px solid rgb(202, 202, 202);
    border-top: 1px solid rgb(202, 202, 202);
  }
  .sidebar .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    list-style: none;
    height: 50px;
  }
  .sidebar .links li a {
    margin: 0px;
    font-size: 12px;
    padding: 10px;
    display: block;
    transition: 0.6s;
  }
  .sidebar .links li .active,
  .sidebar .links li a:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding-left: 10px;
  }
  .logoutbtn {
    display: none !important;
  }
}
