@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.swal2-popup .swal2-title {
  font-family: "Signika", sans-serif !important;
}
*:focus {
  outline: none;
}
*::selection {
  color: #fff;
  background-color: #ee7660;
}
body {
  background-color: white;
}
.inp {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid rgb(184, 184, 184);
  background-color: #fff;
}
.errortxt {
  color: rgb(241, 65, 65);
  user-select: none;
  font-family: "Signika", sans-serif;
}
.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 100px auto;
  padding: 30px;
  min-height: 65vh;
}
.container-admin {
  margin-top: 100px;
  width: calc(100vw - 250px);
  margin-left: 210px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-admin table {
  border: 1px solid gray;
}
.container-admin table thead th {
  border: 1px solid gray;
  text-align: center;
  padding: 10px;
}
.container-admin table tr td {
  text-align: center;
  padding: 6px 10px;
  border: 1px solid gray;
}
.clbtn,
.clbtn2,
.disbtn,
.rclbtn {
  font-family: Arial, Helvetica, sans-serif;
  width: 190px;
  padding: 15px 25px;
  border: 0;
  font-size: 15px;
  background-color: #207d94;
  color: #fff;
  user-select: none;
  border-radius: 8px;
  height: 50px;
  cursor: pointer;
  margin: 20px 0px;
}
.clbtn2 {
  background-color: #865628;
}

.disbtn {
  cursor: progress;
  background-color: #207d9473;
}

.rclbtn {
  width: 120px !important;
  cursor: pointer;
  background-color: #ca1b1b;
}
.fotter {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 30px;
  font-family: "Signika", sans-serif;
  align-items: center;
  flex-direction: row;
  clear: both;
  bottom: 0;
  position: fixed;
  background: rgb(255, 255, 255);
  transition: 0.5s;
  user-select: none;
}
.fotter .fotter-link ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.fotter .fotter-link ul li a {
  width: 100px;
}

.hidefotter {
  bottom: -50px;
}

.privacypolicy h1,
.privacypolicy h2,
.privacypolicy h3 {
  margin: 30px 0px;
}

.privacypolicy ul {
  padding: 0px 20px;
}
.privacypolicy ul li {
  margin: 20px 0px;
}
.privacypolicy p {
  margin: 10px 0px;
}

.buttonDownload {
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  border-radius: 50px;
  background-color: #4a9b25;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  text-indent: 15px;
  width: 170px;

  text-align: right;
}

.buttonDownload:hover {
  background-color: #333;
  color: rgb(226, 226, 226);
}

.buttonDownload:before,
.buttonDownload:after {
  content: " ";
  display: block;
  position: absolute;
  left: 25px;
  top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 3px;
  margin-top: -7px;

  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;

  animation: downloadArrow 2s linear infinite;
  animation-play-state: paused;
}

.buttonDownload:hover:before {
  border-color: #4cc713;
}

.buttonDownload:hover:after {
  border-top-color: #4cc713;
  animation-play-state: running;
}
.spin {
  animation: spiner 2s linear infinite;
  /* background-color: #4a9b25; */
}
@keyframes spiner {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
  /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0;
  }
}

@media only screen and (max-width: 1050px) {
  .container {
    width: 800px;
  }
}
@media only screen and (max-width: 850px) {
  .container {
    width: 500px;
  }
  .container-admin {
    width: 100%;
    margin-left: 0px;
    padding: 20px;
    margin-bottom: 90px;
    font-family: "Signika", sans-serif;
  }
}
@media only screen and (max-width: 550px) {
  .container {
    width: 100%;
    margin-bottom: 40px !important;
  }
  .fotter {
    justify-content: space-around;
    font-size: 15px;
    padding: 0px 10px;
  }
  .fotter ul {
    gap: 10px;
    width: 100%;
    font-size: 12px;
  }
}
